<div class= "container" id="show">
	<div class="track_playing">
		<img src="<%=track.urlImg%>">
		<p><%=track.name%></p>
		<audio src="<%=track.url%>" type="audio/mpeg" controls="controls" width="400px"></audio>
	
		<form method="post" action="/tracks/<%=track.name%>?_method=delete">
		    <button class="btn btn-danger btn-lg" type="submit" onClick="return confirm('Delete: <%=track.name%>. Are you sure? ');">
		      Delete track
		    </button>
	  	</form>
	</div>
</div>
